<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvJavaBackup</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.ServerRequestListner</listener-class>
  </listener>
  <servlet>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
    <init-param>
      <param-name>emailID</param-name>
      <param-value>pjap041@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>jappurohit</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SignUpFilter</display-name>
    <filter-name>SignUpFilter</filter-name>
    <filter-class>com.filter.SignUpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignUpFilter</filter-name>
    <url-pattern>/signup</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DuplicateEmailChecker</display-name>
    <filter-name>DuplicateEmailChecker</filter-name>
    <filter-class>com.filter.DuplicateEmailChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DuplicateEmailChecker</filter-name>
    <url-pattern>/signup</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>Jap</param-value>
  </context-param>
  <listener>
    <listener-class>com.listener.ServerRequestAttributeBindingListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ListAllUsersController</display-name>
    <servlet-name>ListAllUsersController</servlet-name>
    <servlet-class>com.controller.ListAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllUsersController</servlet-name>
    <url-pattern>/listAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
</web-app>